<div class="contenedor-detalle">
  <div class="imagen">
    <img [src]="'https://cdn2.thecatapi.com/images/' + detalleRaza?.reference_image_id + '.jpg'" alt="Imagen de la raza {{ detalleRaza?.name }}">

  </div>

  <div class="descripcion">

    <h2>{{ detalleRaza?.name }}</h2>
    
    <p><strong>Origen:</strong> {{ detalleRaza?.origin }}</p>
    <p><strong>Códigos de país:</strong> {{ detalleRaza?.country_codes }}</p>
    
    <p><strong>Esperanza de vida:</strong> {{ detalleRaza?.life_span }} años</p>
    <p><strong>Peso:</strong> {{ detalleRaza?.weight?.metric }} kg (métrico) / {{ detalleRaza?.weight?.imperial }} lb (imperial)</p>

    <p><strong>Temperamento:</strong> {{ detalleRaza?.temperament }}</p>
    <p><strong>Descripción:</strong> {{ detalleRaza?.description }}</p>

    <p><strong>Calificaciones:</strong></p>
    <ul>
      <li>Adaptabilidad: {{ detalleRaza?.adaptability }}/5</li>
      <li>Afecto: {{ detalleRaza?.affection_level }}/5</li>
      <li>Niños: {{ detalleRaza?.child_friendly }}/5</li>
      <li>Perros: {{ detalleRaza?.dog_friendly }}/5</li>
      <li>Energía: {{ detalleRaza?.energy_level }}/5</li>
      <li>Grooming: {{ detalleRaza?.grooming }}/5</li>
      <li>Inteligencia: {{ detalleRaza?.intelligence }}/5</li>
      <li>Vocalización: {{ detalleRaza?.vocalisation }}/5</li>
      <li>Necesidades sociales: {{ detalleRaza?.social_needs }}/5</li>
      <li>Amabilidad con extraños: {{ detalleRaza?.stranger_friendly }}/5</li>
      <li>Problemas de salud: {{ detalleRaza?.health_issues }}/5</li>
    </ul>

    <p><strong>¿Hipoalergénico?</strong> {{ detalleRaza?.hypoallergenic ? 'Sí' : 'No' }}</p>
    <p><strong>¿Natural?</strong> {{ detalleRaza?.natural ? 'Sí' : 'No' }}</p>
    <p><strong>¿Raro?</strong> {{ detalleRaza?.rare ? 'Sí' : 'No' }}</p>

    <p><a [href]="detalleRaza?.wikipedia_url" target="_blank">Ver más en Wikipedia</a></p>
  </div>
</div>
