.carrusel > div{
    display: flex;
    flex-wrap: nowrap; /* Evita que se rompa en varias líneas */
    align-items: center;
    flex-wrap: wrap;

}
#barra{
    display: flex;
    justify-items: flex-start;
    margin: 1rem;
}
#add {
    border-radius: 5rem;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    font-size: 5rem;
    margin-left:70%;

}
#search{
    border-radius: 5rem;
    padding:1rem;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    margin-left: 1rem;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    margin-left:1.5rem;
}
img{
    width:25rem;
    height:25rem;
    margin-left: 2rem;
}
h3{
    background-color: rebeccapurple;
    color:white;
    font-size: larger;
    padding-top:11rem;
    padding-bottom:11rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: 0;
}
