<div id="barra">
  <input type="text"  [(ngModel)]="idInput" placeholder="Ingrese ID">
  <button (click)="buscarImagen()" id="search">Buscar por id</button>
  <button id="add">+</button>
</div>
  
<div *ngIf="imageUrl">
  <img [src]="imageUrl" alt="Imagen obtenida">
</div>
<div class="carrusel">
  <div>
    @for (imagen of listaDeImagenes; track imagen.id) {

    <img src="{{imagen.url}}" alt="Imagen">
    <h3>id: {{imagen.id}} <br>
      <!-- raza: {{imagen.breeds[0].breed_group}} -->
    </h3>

    } @empty {
    <p>No existen productos</p>
    }
  </div>
</div>
<div>