<h2>Agregar Voto 🐾</h2>
<form (ngSubmit)="agregarVoto()" #formVoto="ngForm" class="formulario">

    <label>Sub ID (nombre):</label>
    <input type="text" name="sub_id" [(ngModel)]="nuevoVoto.id_vote" required />

    <label>Puntaje (1–5):</label>
    <input type="number" name="value" [(ngModel)]="nuevoVoto.value_vote" min="1" max="5" required />

    <div>
        <h3>Selecciona una imagen de gato</h3>
        <div class="imagenes-gatos">
            <div *ngFor="let img of catImages" class="imagen-container"
                [class.selected]="imagenSeleccionada?.id_image === img.id_image" (click)="seleccionarImagen(img)">
                <img [src]="img.url_image" alt="Gato" />
            </div>
        </div>
    </div>

    <button type="submit" [disabled]="formVoto.invalid || !imagenSeleccionada">Guardar Voto</button>
</form>