<h2>Lista de votos de gatos </h2>
<a routerLink="/agregar-voto" class="agregar-voto-btn">Agregar nuevo voto</a>
<div class="voto-grid">
    <article *ngFor="let voto of votos" class="voto-card">
        <img [src]="voto.url_image" alt="Gato" class="gato-img" />
        <div class="voto-info">
              <p><strong>Puntaje:</strong> {{ voto.value_vote }}/5</p>
          
            <div class="acciones">
                <a [routerLink]="['/voto-por-id', voto.id_vote]" class="detalle-link">
                    Ver más
                </a>
                <a [routerLink]="['/editar-voto', voto.id_vote]" class="detalle-link">
                    Editar voto
                </a>
                <button (click)="eliminarVoto(voto.id_vote!)" class="eliminar-btn">
                    Eliminar voto
                </button>
            </div>
        </div>
    </article>
</div>