.form-container {
  background-color: rebeccapurple; // Morado de fondo
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}
*{
  font-size: large;
}
h2{
  text-align: center;
}
textarea{
  width: 50%;
  height:50%;
  margin-left: 1rem;
}
form {
  max-width: 50%;
  padding: 20px;
  border-radius: 8px;
  background-color: gray;
}

.form-group {
  margin-bottom: 1rem;
  padding: 10px;
  border-radius: 4px;
}

.radio-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

input[type="radio"] {
  &:hover {
    transform: scale(1.2); // Efecto hover en los radio buttons
    cursor: pointer;
  }
}

input[type="text"],
input[type="file"] {
  width: 100%;
  padding: 0.5rem;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: violet;
  color: black;
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  margin-left: 40%;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: white;
    transform: scale(1.05); 
  }
}