.topnav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    padding: 10px 0;
}
h1{
    color:white;
    font-size: xx-large;
    padding-top:0.25rem;
}
/* Estilos de los enlaces dentro de la barra de navegación */
.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 18px 24px; /* Espaciado más amplio */
    text-decoration: none;
    font-size: 22px; 
    font-weight: bold; 
    text-transform: uppercase; 
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
    margin:1rem;
}

/* Cambia el color en hover con un efecto más suave */
.topnav a:hover {
    background-color: #555;
    color: #ffffff;
}

/* Estilos para el enlace activo */
.topnav a.active {
    background-color: rebeccapurple;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Efecto de elevación */
}