<h2>Editar Voto </h2>
<div *ngIf="voto; else loading">
    <form (ngSubmit)="onSubmit()" #editVotoForm="ngForm">
       <label>
        ID del voto:
        <input type="text" [value]="voto.id_vote" readonly />
       </label>
        <br />

        <label>
            Puntaje:
            <input type="number" [(ngModel)]="voto.value_vote" name="value" min="1" max="5" required />
        </label>
        <br />

        <button type="submit">Actualizar</button>
    </form>

    <div *ngIf="imageUrl">
        <h3>Imagen actual:</h3>
        <img [src]="imageUrl" alt="Imagen del gato" width="200" />
    </div>
</div>

<ng-template #loading>
    <p>Cargando voto...</p>
</ng-template>