<div *ngIf="loading">Cargando votos...</div>
<div *ngIf="error">{{ error }}</div>
<div *ngIf="!loading && votes.length">
    <div *ngFor="let vote of votes" class="vote-card">
        <img [src]="vote.image_url" [alt]="vote.image_id" class="vote-img" />
        <div><strong>ID Imagen:</strong> {{ vote.image_id }}</div>
        <div><strong>Votante:</strong> {{ vote.sub_id }}</div>
        <div><strong>Fecha:</strong> {{ vote.created_at }}</div>
        <div><strong>Valor:</strong> {{ vote.value }}</div>
        <div><strong>País:</strong> {{ vote.country_code }}</div>
    </div>
</div>